@import '../../scss/card';
@import '../../scss/flag';

.info-main {
  display: flex;
  padding: 10px;
  width: 100%;
  min-height: fit-content;
  align-items: stretch;
}

.interaction-view-main {
  width: 100%;
  border: solid whitesmoke;
  border-width: 2px 0px 0px 2px;
}

.card {
  @extend %card;
  width: 100%;
  & .edit-btn {
    position: absolute;
    right: 0;
    top: 8px;
    font-weight: bold;
  }
  &.body {
    display: block;
    height: auto;
    position: relative;
    top: -2px;
    min-height: 430px;
    padding: 10px 20px;
  }

}

.override {
  opacity: 1;
  &:hover {
  left: 0px;
  }
}

.info-bar {
  @extend %card;
  flex-direction: column;
  max-width: 160px;
  width: 30%;
  height: inherit;
  margin-right: 10px;
  min-height: 80px;
}

.info-bar:hover {
  left: 0px;
}

.deck {
  width: 100%;
}