* {
  --edit-left-width: 300px;
}

.edit-title-input {
  width: 30%;
  margin: 0;
}

.edit-main {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.edit-space {
  display: flex;
  padding: 7px 0px;
}

.edit-left {
  // border: 1px red dotted;
  width: var(--edit-left-width);
  height: 90%;
  margin-right: 5px;
}

.edit-body {
  width: calc(100% - var(--edit-left-width));
  height: 100%;
  // border: 1px red dotted;
  margin-left: 5px;
}

.edit-cust-droplist {
  width: 90%;
  margin: auto;
}

select.dropdown {
  width: 100%;
  margin: 0;
}