@import url('https://fonts.googleapis.com/css?family=Arimo|Mukta+Malar|Work+Sans');

* {
  --inte-width: 650px;
  --nav-height: 200px;
  --d-margin: 10px;
  --dark: black;
  --mid: whitesmoke;
  --light: white;
  --bright: white;
  --accent: rgb(100, 34, 20);
  --shadow: 2px 2px 2px var(--dark);

  font-family: 'Arimo';
  text-decoration: none;
}

%active {
  color: black;
  box-shadow: 1px 1px 1px #000000d4;
}

button {
  outline: none;
  border: none;
  background-color: whitesmoke;
  height: 30px;
  margin: 5px 10px;
  color: #000000d4;
  transition: color , box-shadow .1s;
  border-radius: 9px;
  &:hover {
    @extend %active;
  }
  &:active {
    @extend %active;
  }
  &.large {
    height: 50px;
    width: 60px;
  }
}

select {
  height: 30px;
  margin: 10px;
  width: 100%;
}

input {
  height: 30px;
  margin: 10px;
  width: 100%;
}

textarea {
  width: 100%;
  height: 70%;
}

.dash-main {
  height: calc(100vh);
  width: 100vw;
  background: var(--mid);
  display: flex;
}

%main {
  background: var(--light);
  margin: var(--d-margin);
  // border-radius: 5px;
  box-shadow: var(--shadow);
}

.dash-inte {
  @extend %main;
  width: var(--inte-width);
}

.dash-right {
  width: calc(100vw - var(--inte-width) - (3 * var(--d-margin)));
  height: 100%;
  .dash-nav {
    @extend %main;
    height: calc(var(--nav-height) - (2 * var(--d-margin)));
  }

  .dash-info {
    @extend %main;
    height: calc(100% - var(--nav-height) - var(--d-margin));
    overflow: auto;
  }
}


