@import '../../scss/card';
@import '../../scss/flag';

.search-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .card {
    @extend %card;
  }
}

.search-bar {
  @extend %card;
  opacity: 1;
  height: 40px;
  align-items: center;
  &:hover {
    left: 0px;
  }
}
