.inte-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 30%;
  width: 60%;
  align-items: center;
  margin: auto;
}



.logo {
  margin-top: 30px;
  margin-bottom: 60px;
  color: black;
}