// @import '../../images/loginBackground.jpg';
@font-face {
  font-family : "Blackadder ITC";
  src: local("Blackadder ITC"),
  url(https://www.wfonts.com/download/data/2015/05/26/blackadder-itc/ITCBLKAD.TTF)
}

p {
  margin: 0px;
  padding: 0px;
}

input {
  margin: 5px 10px;
}

.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(https://s3.us-east-2.amazonaws.com/black-flag-project/default/loginBackground.jpg);
  background-size: cover;
  // background: radial-gradient(circle, white, black)
}

.login-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  height: 700px;
  border: 2px solid black;
  background-color: #f5f5f52b;
  & input {
    background-color: #0000004f;
    border: none;
    // outline: 1px solid #75818d;
    height: 30px;
    margin: 0px 0px 10px;
    padding: 0px 5px;
    &:focus {
      outline: none;
      border: 1px solid #78828f7d;
    }
  }
  & button{
    border: none;
    height: 25px;
    width: 79px;
    background-color: #f5f5f52b;
    margin-top: 10px;
    font-family: "Blackadder ITC";
    font-size: 19px;
    &:focus {
      outline: none;
      border: 1px solid #78828f7d;
    }
  }
}

h1.logo {
  flex-basis: 100%;
  font-family: "Blackadder ITC" , ;
  font-size: 100px;
  margin-top: 52px;
}

h2.subtitle {
  font-family: "Blackadder ITC";
}

#login-logo-box > img {
  width: 300px;
  height: 200px;
  margin-top: 50px;
}

.login-inputs-box {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-strip {
  display: flex;
  align-items: center;
}

